<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <title>Wine VST</title>
    <link href="assets/favicon.ico" rel="shortcut icon"/>
    <link href="assets/semantic.css" rel="stylesheet" type="text/css"/>
</head>

<body class="nojs">

<div class="ui" id="app">

    <div class="ui top fixed menu">
        <div class="item">
            <a href="">
                <i class="wifi icon large"></i>
            </a>
        </div>
        <a class="item"
            v-for="category in database"
            v-bind:href="'#' + category.title"
            v-bind:class="[category.color]"
        >
            {{ category.title }}
            <span class="ui basic label"
                v-bind:class="[category.color]"
            >
                {{ category.number }}
            </span>
        </a>
        <a class="item">
            All
            <span class="ui basic label red">
                {{ vstNum }}
            </span>
        </a>
        <div class="right menu">
            <div class="ui item">
                <div class="ui toggle checkbox">
                    <input name="setup" type="checkbox" v-model="onlySetup">
                    <label>Only setup</label>
                </div>
            </div>
            <div class="ui item">
                <div class="ui toggle checkbox">
                    <input name="bugs" type="checkbox" v-model="onlyBugs">
                    <label>Only bugs</label>
                </div>
            </div>
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input class="prompt" placeholder="Search... (Name, Dev)" type="text" v-model="searchAll">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>
    <div class="ui divider"></div>


    <div class="ui segments"
        v-for="category in database"
        v-bind:id="category.title"
    >

        <div class="ui segment">

            <h1>{{ category.title }}</h1>


            <table class="ui table fixed selectable"
                v-bind:class="[category.color]"
            >
                <thead>
                    <tr>
                        <th v-for="(col, index) in category.cols"
                            v-bind:class="[
                                {
                                    'three wide': index <= 1,
                                    'five wide': index == 6,
                                }
                            ]"
                        >
                            {{ col }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in searchSimple(category, dbFiltered(category, category.items), 'Name', searchAll)">
                        <td v-for="col in category.cols">

                            <template v-if="col === 'Name'">
                                <span>{{ item[col] }}</span>
                            </template>

                            <template v-else-if="col === 'Status'">

                                <template v-if="!Array.isArray(item[col])">
                                    <i class="icon check circle outline green"></i>
                                    {{ item[col] }}
                                </template>

                                <p v-else v-for="bug in item[col]">
                                    <i class="icon exclamation triangle orange" v-if="bug.toLowerCase().indexOf('override') > -1"></i>
                                    <i class="icon ban red" v-else></i>
                                    {{ bug }}
                                </p>

                            </template>

                            <template v-else>
                                {{ item[col] }}
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>


<script src="assets/database.js" type="text/javascript"></script>
<script src="assets/vue.min.js" type="text/javascript"></script>

<script type="text/javascript">


    var app = new Vue({
        el: '#app',
        data: {
            searchAll: '',
            onlyBugs: false,
            onlySetup: false,
            database: databaseCore,
        },
        computed: {
            vstNum: function() {
                var category = this.database,
                    vstAll = 0
                ;
                for (var i = 0, l = category.length; i < l; i++) {
                    vstAll += category[i].number;
                }
                return vstAll;
            },
        },
        methods: {
            searchSimple: function(parent, array, key, search) {
                var search = search.toLowerCase();

                var filtered = array.filter(function(item) {

                    return (item[key].toLowerCase().indexOf(search) > -1) || item['Dev'].toLowerCase().indexOf(search) > -1;
                });

                parent.number = filtered.length;

                return filtered;
            },
            dbFiltered: function(parent, array) {

                var filtered = array;

                if (!!this.onlySetup) {

                    filtered = filtered.filter(function(item) {

                        return item['Setup'] === true;
                    });
                }

                if (!!this.onlyBugs) {

                    filtered = filtered.filter(function(item) {

                        return item['Status'] !== 'Perfect';
                    });
                }

                return filtered;
            },
        },
    });

</script>

</body>
</html>
