<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no">
    <title>Wine VST</title>
    <link href="assets/favicon.ico" rel="shortcut icon"/>
    <link href="assets/semantic.min.css" rel="stylesheet" type="text/css"/>
</head>

<body class="nojs">

<div class="ui" id="app">

    <div class="ui top fixed menu">
        <div class="item">
            <a href="">
                <i class="plug icon large"></i>
            </a>
        </div>
        <a class="item"
            v-for="category in database"
            v-bind:href="'#' + category.title"
            v-bind:class="[category.color]"
        >
            {{ category.title }}
            <span class="ui basic label"
                v-bind:class="[category.color]"
            >
                {{ category.number }}
            </span>
        </a>
        <a class="item">
            All
            <span class="ui basic label red">
                {{ vstNum }}
            </span>
        </a>
        <div class="right menu">
            <a class="ui item"
                v-bind:class="[{'active': !!sidebarOpen}]"
                v-on:click="sidebarOpen = !sidebarOpen"
            >
                <i class="filter icon"></i>
                Filters
                &nbsp;&nbsp;
                <template v-for="(filter, index) in activeFilters">
                    <i class="icon"
                        v-bind:class="[filter.icon, filter.color]"
                    ></i>
                </template>
            </a>
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input class="prompt" placeholder="Search... (Name, Dev)" type="text" v-model="searchAll">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui borderless sidebar right vertical menu transition fixed" style="z-index: 1;"
        v-bind:class="[{'visible': !!sidebarOpen}]"
    >
        <br><br><br>

        <div class="ui">
            <div class="item">
                <button class="ui icon button basic circular"
                    v-on:click="sidebarOpen = !sidebarOpen"
                >
                    <i class="icon close"></i>
                </button>
            </div>
        </div>

        <template v-for="(menu, index) in filterMenu">
            <br>
            <div class="item header">
                <i class="icon"
                    v-bind:class="menu.icon"
                ></i>
                {{ menu.category }}
            </div>
            <a class="item"
                v-for="item in menu.items"
                v-bind:class="[item.color, {'active': activeState(item, menu.category, activeFilters)}]"
                v-on:click="updateFilter({
                    name: item.name,
                    color: item.color,
                    icon: menu.icon,
                    type: menu.category,
                    value: item.value,
                })"
            >
                <div class="ui empty circular label"
                    v-bind:class="item.color"
                ></div>
                {{ item.name }}
            </a>
        </template>
    </div>


    <div class="ui divider"></div>
    <div class="ui divider"></div>


    <div class="ui segments"
        v-for="category in database"
        v-bind:id="category.title"
    >

        <div class="ui segment">

            <h1>{{ category.title }}</h1>


            <table class="ui table fixed selectable"
                v-bind:class="[category.color]"
            >
                <thead>
                    <tr>
                        <th v-for="(col, index) in category.cols"
                            v-bind:class="[
                                {
                                    'two wide': index == 0,
                                    'three wide': index == 1,
                                    'four wide': index == 8,
                                }
                            ]"
                        >
                            {{ col }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in searchSimple(category, dbFiltered(category, category.items), 'Name', searchAll)">
                        <td v-for="col in category.cols">

                            <template v-if="col === 'Program'">
                                <span v-for="program in item[col]">
                                    {{ program }}
                                </span>
                            </template>

                            <template v-else-if="col === 'Status'">

                                <p v-for="bug in item[col]">
                                    <i class="icon check circle outline green"
                                        v-if="bug.level == 0"
                                    ></i>
                                    <i class="icon exclamation triangle yellow"
                                        v-if="bug.level == 1"
                                    ></i>
                                    <i class="icon exclamation orange"
                                        v-if="bug.level == 2"
                                    ></i>
                                    <i class="icon ban red"
                                        v-if="bug.level == 3"
                                    ></i>
                                    {{ bug.text }}
                                </p>

                            </template>

                            <template v-else>
                                {{ item[col] }}
                            </template>
                        </td>
                    </tr>
                    <tr v-if="category.number == 0">
                        <td>
                            <h4>No match found</h4>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>


<script src="assets/vue.min.js" type="text/javascript"></script>
<script src="database/core_VST.js" type="text/javascript"></script>
<script src="database/core_VSTi.js" type="text/javascript"></script>

<script type="text/javascript">

    var showCols = [
        'Dev',
        'Name',
        'Version',
        'Type',
        'License',
        'Wine',
        'Bridge',
        'Program',
        'Status',
    ];

    var app = new Vue({
        el: '#app',
        data: {
            searchAll: '',
            sidebarOpen: false,
            activeFilters: [],
            filterMenu: [
                {
                    category: 'Status',
                    icon: 'tags',
                    items: [
                        {value: 3, name: 'Error', color: 'red'},
                        {value: 2, name: 'Warning', color: 'orange'},
                        {value: 1, name: 'Override', color: 'yellow'},
                        {value: 0, name: 'Perfect', color: 'green'},
                    ],
                },
                {
                    category: 'Type',
                    icon: 'plug',
                    items: [
                        {name: 'x64', color: 'teal'},
                        {name: 'x32', color: 'teal'},
                    ],
                },
                {
                    category: 'Portable',
                    icon: 'download',
                    items: [
                        {name: true, color: 'blue'},
                        {name: false, color: 'blue'},
                    ],
                },
                {
                    category: 'License',
                    icon: 'dollar',
                    items: [
                        {name: 'Paid', color: 'purple'},
                        {name: 'Free', color: 'purple'},
                        {name: 'FOSS', color: 'purple'},
                    ],
                },
                // {
                //     category: 'Program',
                //     icon: 'terminal',
                //     items: [
                //         {value: 'Renoise', name: 'Renoise', color: 'violet'},
                //         {value: 'Reaper', name: 'Reaper', color: 'violet'},
                //     ],
                // },
                {
                    category: 'd2d1',
                    icon: 'plug',
                    items: [
                        {name: true, color: 'pink'},
                    ],
                },
            ],
            database: [
                {
                    title: 'VST',
                    color: 'orange',
                    cols: showCols,
                    number: 0,
                    items: DB_CORE_VST,
                },
                {
                    title: 'VSTi',
                    color: 'green',
                    cols: showCols,
                    number: 0,
                    items: DB_CORE_VSTI,
                },
            ],
        },
        computed: {
            vstNum: function() {
                var category = this.database,
                    vstAll = 0
                ;
                for (var i = 0, l = category.length; i < l; i++) {
                    vstAll += category[i].number;
                }
                return vstAll;
            },
        },
        methods: {
            searchSimple: function(parent, array, key, search) {
                var search = search.toLowerCase();

                var filtered = array.filter(function(item) {

                    return (item[key].toLowerCase().indexOf(search) > -1) || item['Dev'].toLowerCase().indexOf(search) > -1;
                });

                parent.number = filtered.length;

                return filtered;
            },
            updateFilter: function(obj) {

                var filters = this.activeFilters,
                    index,
                    indexRemove
                ;

                for (var i = 0, l = filters.length; i < l; i++) {
                    if (filters[i].type == obj.type) {
                        indexRemove = i;
                    }
                    if ((filters[i].name == obj.name) && (filters[i].type == obj.type)) {
                        index = i;
                    }
                }

                if (index !== undefined) {
                    this.removeFilter(filters, index);
                }
                else {
                    if (indexRemove != undefined) {
                        this.removeFilter(filters, indexRemove);
                    }
                    filters.push(obj);
                }
            },
            activeState: function(item, type, arr) {
                for (var i = 0, l = arr.length; i < l; i++) {
                    if ((arr[i].type == type) && (arr[i].name == item.name)) {
                        return true;
                    }
                }
            },
            removeFilter: function(arr, index) {
                arr.splice(index, 1);
            },
            dbFiltered: function(parent, array) {

                var filtered = array,
                    showStatus = this.showStatus,
                    activeFilters = this.activeFilters
                ;

                if (activeFilters.length > 0) {

                    filtered = filtered.filter(function(item) {
                        var activeFilter,
                            activeFilterArr,
                            isArr,
                            show = true,
                            showArr = true
                        ;

                        for (var i = 0, l = activeFilters.length; i < l; i++) {
                            activeFilter = activeFilters[i];
                            isArr = Array.isArray(item[activeFilter.type]);

                            if (!!isArr) {
                                for (var j = 0, jl = item[activeFilter.type].length; j < jl; j++) {
                                    activeFilterArr = item[activeFilter.type][j];
                                    if (activeFilterArr['level'] == activeFilter.value) {
                                        showArr = true;
                                        break;
                                    }
                                    else {
                                        showArr = false;
                                    }
                                }
                                showArr = showArr;
                            }
                            else {
                                if (item[activeFilter.type] === activeFilter.name) {
                                    show = true;
                                }
                                else {
                                    show = false;
                                    break;
                                }
                            }
                        }

                        return show && showArr;
                    });
                }

                return filtered;
            },
        },
    });

</script>

</body>
</html>
